snippet ccc "console.log"
	console.log('%c #custom-log', 'color:red;', '${1}');

snippet tbreactcomponent "Tabby React Component" b
	import React from 'react';
	import { styled } from '@mui/system';

	const Component = styled('div')(({ theme }) => ({
		fontSize: 24,
		[theme.breakpoints.up('sm')]: {
			fontSize: 32,
		},
	}));

	interface Props {
	}

	export default function ${1}({}: Props) {
		return <Component>Component</Component>;
	}

