snippet testd "jest describe block"
	describe('${1}', () => {
		test('${2}', () => {
			expect(true).toBe(false);
		});
	});

snippet testt "jest test block"
	test('${1}', () => {
		expect(true).toBe(false);
	});

snippet teste "jest test each block"
	test.each([
		${1}
	])(
		'given %o should return %o',
		() => {
			expect().toBe();
		},
	);

snippet ccc "console.log"
	console.log('%c #custom-log', 'color:red;', '${1}');
